<section class="caption-post">
  <form data-request="onSave" style="margin-top:100px">
    <label class="mg-b-10"><h3>Description</h3></label>
    <textarea class="w-100-h-50 message" type="text" name="caption" placeholder="Write your description here"></textarea>
    <input type="hidden" name="users_id" value="{{ user.id }}">
    <div class="button-post">
      <button type="submit" name="button" class="btn btn-circle-lg btn-default">Post</button>
    </div>
  </form>
</section>
