title = "Home"
url = "/"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Adelsaadira\Indogram\Models\Post"
scope = "-"
displayColumn = "users_id"
noRecordsMessage = "No records found"
detailsPage = "post-detail"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "created_at"
sortDirection = "desc"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}
<div class="container container-md pd-t-40">
  {% for record in records %}
  <div id="post{{record.id}}" class="post mg-b-40">
    <div class="post-author">
      <div class="half-left pull-left">
        <div class="author-avatar">
          {% if record.users.avatar.path == null %}
            <img src="{{ 'assets/image/user.png'|theme }}" alt="" class="img-responsive img-circle">
          {% else %}
            <img src="{{record.users.avatar.path}}" alt="" class="img-responsive img-circle">
          {% endif %}
        </div>
        <div class="author-name">
          {{record.users.name}}
        </div>
      </div>
      <div class="half-right pull-right">
        <div class="update-time">
          <p>3m</p>
        </div>
      </div>
    </div>
    <div class="post-picture">
      {% if detailsPage %}
        <a href="{{detailsPage|page({(detailsUrlParameter): attribute(record, detailsKeyColumn)})}}">
      {% endif %}
        <img src="{{record.images.thumb(600,auto)}}" alt="" class="post-picture-img">
      {% if detailsPage %}
        </a>
      {% endif %}
    </div>
    <div class="bottom-content">
      <div class="post-meta">
          <ul>
              <li class="meta-item">
                  <a href="#">
                      <i class="fa fa-thumbs-o-up"></i> 281 likes
                  </a>
              </li>
              <li class="meta-item">
                  <a href="#">
                      <i class="fa fa-comment-o"></i> 5 comments
                  </a>
              </li>
          </ul>
        </div>
      </div>
    <div class="caption">
      {{record.caption|raw}}
    </div>
    <hr/>
  </div>
  {% endfor %}
</div>