title = "Post"
url = "/post"
layout = "default"
is_hidden = 0

[session]
security = "all"

[imageUploader]
placeholderText = "Click or drag images to upload"
maxSize = 5
fileTypes = ".gif,.jpg,.jpeg,.png"
imageWidth = 400
imageHeight = 400
imageMode = "crop"
deferredBinding = 1

[uploadform]
==
<?php
function onInit()
{
    $this->imageUploader->bindModel('images', new Adelsaadira\Indogram\Models\Post);
}
?>
==
<div class="container-md mg-t-15-flex">
  <div class="w-100">
  {{ form_ajax('onSave', { model: post }) }}
    <div class="col-lg-6">
      {% component 'imageUploader' %}
    </div>
    <div class="col-lg-6">
      {% component 'uploadform' %}
    </div>
    <div class="clearfix"></div>
  </div>

  {{ form_close() }}
</div>
