title = "Post Detail"
url = "/post/:id"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Adelsaadira\Indogram\Models\Post"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "caption"
notFoundMessage = "Record not found"

[builderList]
modelClass = "Adelsaadira\Indogram\Models\Comment"
scope = "-"
displayColumn = "comment"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[session]
security = "all"

[commentform]
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
<div class="container container-md pd-t-40">
  <div id="post{{record.id}}" class="post mg-b-40">
    <div class="post-author">
      <div class="half-left pull-left">
        <div class="author-avatar">
          <img src="{{record.users.avatar.path}}" alt="" class="img-responsive img-circle">
        </div>
        <div class="author-name">
          {{record.users.name}}
        </div>
      </div>
      <div class="half-right pull-right">
        <div class="update-time">
          <p>3m</p>
        </div>
      </div>
    </div>
    <div class="post-picture">
      <img src="{{record.images.thumb(600,auto)}}" alt="">
    </div>
    <div class="bottom-content">
      <div class="post-meta">
          <ul>
              <li class="meta-item">
                  <a href="#">
                      <i class="fa fa-thumbs-o-up"></i> 281 likes
                  </a>
              </li>
              <li class="meta-item">
                  <a href="#">
                      <i class="fa fa-comment-o"></i> 5 comments
                  </a>
              </li>
          </ul>
        </div>
      </div>
    <div class="caption">
      {{record.caption|raw}}
    </div>
    <hr/>
    {% component 'commentform' %}
    <h3>Comment</h3>
    {% for record2 in records %}
    <div class="comment">
      <div class="half-left pull-left">
        <div class="author-avatar">
          <img src="{{record2.users.avatar.path}}" alt="" class="img-responsive img-circle">
        </div>
        <div class="author-name">
          {{record2.users.name}}
        </div>
      </div>
      <div class="bottom-content">
        {{record2.comment}}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-md-12 mg-t-10">
    <div class="row">
    </div>
  </div>
</div>
{% else %}
    {{ notFoundMessage }}
{% endif %}
