title = "Sign Up"
url = "/signup"
layout = "daftar"
is_hidden = 0

[account]
paramCode = "code"
forceSecure = 0

[imageUploader]
placeholderText = "Click or drag images to upload"
maxSize = 5
fileTypes = ".gif,.jpg,.jpeg,.png"
imageWidth = 100
imageHeight = 100
imageMode = "crop"
==
function onInit()
{
    $user = Auth::getUser();
    if($user){
        $component = $this->addComponent(
            'Responsiv\Uploader\Components\ImageUploader',
            'imageUploader',
            ['modelClass'=>'RainLab\User\Models\User','modelKeyColumn'=>'avatar', 'deferredBinding' => false]
        );

        $component->bindModel('avatar', $user);
    }
    else{
      $this->imageUploader->bindModel('avatar', new RainLab\User\Models\User);
    }
}
==
{% if not user %}
  <div class="tab-content">
    <div id="signup" class="row">
        <div class="col-md-3 col-centered">
            <div class="top-content bordered">
              <div class="pd-10">
                <img class="img-responsive navbar-brand img-centered" src="{{ 'assets/image/logo.png'|theme }}">
                <h4 class="text-center text-signup">Signup to see photos from your friends</h4>
                {% partial account ~ '::register' %}
              </div>
            </div>
            <div class="bottom-content bordered">
              <div class="pd-10">
                <p class="tab active text-center">Already have an account? <a href="#login">Login</a></p>
              </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div id="login" class="row" style="display:none;">
        <div class="col-md-3 col-centered">
            <div class="top-content bordered">
              <div class="pd-10">
                <img class="img-responsive navbar-brand img-centered" src="{{ 'assets/image/logo.png'|theme }}">
                {% partial account ~ '::signin' %}
              </div>
            </div>
            <div class="bottom-content bordered">
              <div class="pd-10">
                <p class="tab active text-center">Dont have an account? <a href="#signup">Signup</a></p>
              </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
  </div>

{% else %}

    {% partial account ~ '::activation_check' %}

    {% partial account ~ '::update' %}

{% endif %}
