[viewBag]

[staticMenu mainMenu]
code = "main-menu"

==
<header class="navbar navbar-fixed-top {{ this.page.navbarInverse ? 'navbar-inverse' : 'navbar-default' }}">
	<div class="container container-md">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<img src="{{ 'assets/image/logo.png'|theme }}" alt="" class="img-responsive navbar-brand">
		</div>
		<div class="span4">
			<div class="alert alert-danger fade relative-alert" style="display:none;">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<strong>Oops!</strong> You should login first..
			</div>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="text-black"><a href="{{'home'|page}}">HOME</a></li>
				{% if user %}
				<li class="text-black"><a href="{{'post'|page}}">UPLOAD</a></li>
				{% else %}
				<li class="text-black"><a class="btn-alert" href="#">UPLOAD</a></li>
				{% endif %}
				<li class="text-black"><a href="{{'about'|page}}">ABOUT</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if user %}
				<li class="text-black"><a class="btn" data-request="onLogout" data-request-data="redirect: '/'" data-toggle="modal">LOGOUT</a></li>
				{% else %}
				<li class="text-black"><a class="btn" href="#modalLogin" data-toggle="modal">LOGIN</a></li>
				{% endif %}
				<li class="nav-register"><a href="{{'signup'|page}}" class="btn btn-register">SIGN UP</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</header>
