[account]
paramCode = "code"
forceSecure = 0

[viewBag]
==
<form class="login" data-request="onSignin">

<div class="modal fade" id="modalLogin">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <legend class="legend text-center">LOGIN TO YOUR ACCOUNT</legend>
            </div>

            <div class="modal-body">
                <div class="input form-group">
                  <input type="email" placeholder="Email" name="login" required />
                  <span><i class="fa fa-envelope-o"></i></span>
                </div>
                <div class="input form-group">
                  <input type="password" placeholder="Password" name="password" required />
                  <span><i class="fa fa-lock"></i></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="submit"><i class="fa fa-long-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="feedback">
        	Login Success<br />
          Redirecting...
        </div>
    </div>
</div>
</form>
