<form
    data-request="onSignin">
    <div class="form-group">
        <!--<label for="userSigninLogin">{{ loginAttributeLabel }}</label>-->
        <input
            name="login"
            type="text"
            class="form-control"
            id="userSigninLogin"
            placeholder="Enter your {{ loginAttributeLabel|lower }}" />
    </div>

    <div class="form-group">
        <!--<label for="userSigninPassword">Password</label>-->
        <input
            name="password"
            type="password"
            class="form-control"
            id="userSigninPassword"
            placeholder="Enter your password" />
    </div>

    <button type="submit" class="btn btn-danger form-control">Sign in</button>
</form>
