<div class="container container-md pd-t-40">
  <div class="col-md-12">
    {{ form_ajax('onUpdate', { model: user }) }}

        {% component 'imageUploader' %}

        <div class="form-group">
            <label for="accountName">Full Name</label>
            <input name="name" type="text" class="form-control" id="accountName" value="{{ form_value('name') }}">
        </div>

        <div class="form-group">
            <label for="accountEmail">Email</label>
            <input name="email" type="email" class="form-control" id="accountEmail" value="{{ form_value('email') }}">
        </div>

        <div class="form-group">
            <label for="accountPassword">New Password</label>
            <input name="password" type="password" class="form-control" id="accountPassword">
        </div>

        <div class="form-group">
            <label for="accountPasswordConfirm">Confirm New Password</label>
            <input name="password_confirmation" type="password" class="form-control" id="accountPasswordConfirm">
        </div>

        <button type="submit" class="btn btn-default">Save</button>

    {{ form_close() }}

  </div>
</div>
