description = "Default layout"

[session]
security = "all"

==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'head' %}

        {% styles %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% partial 'header' %}

        {% page %}

        {% partial 'footer' %}

        {% partial 'modal-login' %}

        <script src="{{ [
            '../../bower_components/jquery/dist/jquery.min.js',
            '../../bower_components/jquery/dist/jquery.js',
            '../../bower_components/bootstrap/dist/js/bootstrap.min.js',


            '../../bower_components/bootstrap/js/transition.js',
            '../../bower_components/bootstrap/js/alert.js',
            '../../bower_components/bootstrap/js/button.js',
            '../../bower_components/bootstrap/js/carousel.js',
            '../../bower_components/bootstrap/js/collapse.js',
            '../../bower_components/bootstrap/js/dropdown.js',
            '../../bower_components/bootstrap/js/tooltip.js',
            '../../bower_components/bootstrap/js/popover.js',
            '../../bower_components/bootstrap/js/tab.js',

            '../../bower_components/fastclick/lib/fastclick.js',
            'assets/js/app.js']|theme }}"></script>


        {% framework extras %}

        {% scripts %}

        {% partial 'tracker' %}

        {% partial 'flash' %}

    </body>
</html>
