//
// Load all required stylesheets
//

@fa-font-path:        "../fonts";

@import '_all';

//
// Your app styles
//

body {
  margin-top: 50px;
}

p{
  color: #5e5e5e;
}

.post {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

.navbar-brand{
  height: 60px;
}

.nav {
  padding:8px 0px;
}

header{
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
}

.btn-register{
  margin-top: 10px;
  margin-left: 10px;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  box-shadow: 0 0 10px 0 rgba(208, 2, 27, 0.75);
}

.nav li>a{
  font-weight: 600;
}

.text-black>a{
  color: black !important;
}

.nav-register a{
  .btn-register;
  background: @brand-color;
  color: white !important;

  &:hover, &:active, &:focus{
    background: @brand-lighter !important;
    color: white !important;
  }
}


.post-author{
  height: 50px;
}

.author-avatar{
  overflow: hidden;
  position: relative;
}

.author-avatar>img{
  max-width: 40px;
  max-height: 40px;
}

.post-picture{
  max-height: 600px;
  overflow: hidden;
  display: block;
  position: relative;
}

.post-picture-img{
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.half-left{
  display: inline-flex;
}

.author-name {
  margin-left: 12px;
  padding-top: 10px;
  font-weight: 600;
  color: black;

}

.update-time{
  padding-top: 10px;
}

.bottom-content {
  width: 100%;
  bottom: 0px; left: 0px;
  padding: 12px 3px;
}

@media (min-width: 720px){
  .post{
    max-width: 400px;
  }
}

@media (min-width: 940px){
  .post{
    max-width: 500px;
  }
}

@media (min-width: 1200px){
  .post{
    max-width: 600px;
  }
}

@media (min-width: 1200px) {
    .container-md{
        max-width: 940px;
    }
}

.post-meta {
        width: 100%;
        bottom: 0px; left: 0px;

        ul {
            margin:0px; padding: 0px;
            list-style: none;
        }

        .meta-item {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;

            &:last-child {
                margin-right: 0px;
            }

            i {
                color: @brand-info;
            }

            a {
                color: @brand-info;
            }

            &:hover,
            &:focus {
                i {
                    color: @brand-info;
                }

                a {
                    text-decoration: none;
                    color: @brand-info;
                }
            }
        }
}

.relative-alert{
  position: relative;
  margin:auto;
  left:0;
  right:0;
  @media screen{
    @media (max-width: 720px){
      max-width: 250px;
    }
    @media (min-width: 720px){
      width: 400px;
    }
  }
}

.span4{
  margin-top: 50px;
  left:0;
  right:0;
  z-index: 4;
  position: absolute;
}

//login modal

.login{
  position: relative;
  top: 50%;
	width: 250px;
  display: table;
  margin: -150px auto 0 auto;
  background: @brand-color;
  box-shadow: 0 0 10px 0 rgba(208, 2, 27, 0.75);
  border-radius: 4px;
}

.legend{
  position: relative;
  width: 100%;
  display: block;
  background: @brand-lighter;
  padding: 15px;
  color: #fff;
  font-size: 20px;
}

.input{
  position: relative;
  width: 90%;
  margin: 15px auto;

  span{
    position: absolute;
    display: block;
    color: darken(#EDEDED, 10%);
    left: 10px;
    top: 8px;
    font-size: 20px;
  }

  input{
    width: 100%;
    padding: 10px 5px 10px 40px;
    display: block;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    transition: 0.2s ease-out;
    color: darken(#EDEDED, 30%);

    &:focus{
      padding: 10px 5px 10px 10px;
      outline: 0;
      border-color: @brand-lighter;
      box-shadow: 0 0 10px 0 rgba(208, 2, 27, 0.75);
    }
  }
}

.submit{
  width: 45px;
  height: 45px;
  display: block;
  margin: 0 auto -15px auto;
  background: @brand-color;
  border-radius: 100%;
  border: 1px solid @brand-lighter;
  color: #FFFFFF;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(208, 2, 27, 0.75);
  transition: 0.2s ease-out;

  &:hover, &:focus{
    background: @brand-lighter;
    color: #fff;
    outline: 0;
  }
}

.feedback{
  position: absolute;
  bottom: -70px;
  width: 100%;
  text-align: center;
  color: #fff;
  background: #2ecc71;
  padding: 10px 0;
  font-size: 12px;
  display: none;
  opacity: 0;

  &:before{
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(208, 2, 27, 0.75);
    border-bottom-color: @brand-color;
    border-width: 10px;
    margin-left: -10px;

  }
}

//signup

.tab-content{
  position:relative;
}

#login{
  margin-top:100px;
}

.col-centered{
  margin: 0 auto;
  float: none;
  width: 345px;
}

.bordered{
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 20px;
}

.img-centered{
  height: 70px;
  margin: 10px 0 10px 7px;
}

.text-signup{
  margin-bottom: 40px;
  line-height: 20px;
  font-size: 17px;
}

//about
#wrapper{
  margin-top: 137px;
  margin-bottom: 100px;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#sidebar-wrapper{
    box-sizing: border-box;
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.nav-wrapper{
  height: 100%;
}

.layout-nav{
  float: left;
  height: 100%;
  padding-right: 0;
  pointer-events: initial;
  width: 256px;
}

.sidelayout-content{
  border-right: 1px solid #dbdbdb;
  height: 100%;
  width: 220px;
  padding-top:30px;
}

.layout-pagecontent{
  color: #262626;
  margin-left: 205px;
  padding: 30px 50px;
}

.page-content-wrapper{
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  padding: 0 16px 20px;
}

.page-content-wrapper, .nav-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: 0 auto;
  position: relative;
  width: 992px;
}

.nav-link{
  border-left: 2px solid transparent;
  box-sizing: border-box;
  color: #262626;
  font-size: 16px;
  display: block;
  padding: 16px 16px 16px 30px;
  width: 100%;
  text-decoration: none;
}

.list-none{
  list-style: none;
  padding: 0;
}

//post-page
.w-100{
  width: 100% !important;
}

.mg-t-15-flex{
  margin: 150px auto 50px;
  display: flex;
}

.upload-button{
  margin: auto;
  float: none !important;
  border: 2px dashed rgba(0, 0, 0,0.5) !important;

    .upload-button-icon {
      width:63px !important;
      left: 0 !important;
      margin-left: 43% !important;
      &:before {
          font-size: 110px !important;
          color: rgba(0,0,0,0.5) !important;
        }
    }

    &:hover{
      border: 2px dashed rgba(0,0,0,1) !important;

        .upload-button-icon:before {
            color: rgb(0,0,0) !important;
        }
    }

    &:focus {
        border: 2px solid rgba(0,0,0,.3);
        background: transparent;

        .upload-button-icon:before {
            color: rgb(0,0,0) !important;
        }
    }

    @media screen{
      @media (max-width: 720px){
        width: 300px !important;
        height: 300px !important;
      }
      @media (min-width: 720px){
        width: 400px;
      }
    }
}

.hov-black{
  &:focus,&:active,&:hover{
    outline: black;
    border: 2px solid black;
  }
}

.caption-post{
    margin: auto;
    height: 400px;
    max-width: 440px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 2px solid #cccccc;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.button-post{
  width: 70px;
  margin: auto;
}

.btn-circle-lg{
  margin: 30px auto;
  width: 70px;
  height: 70px;
  padding: 10px 14px;
  font-size: 17px;
  border-radius: 35px;
  border-width: 2px;
  background-color: white !important;
  .hov-black;
}

.message{
  .hov-black;
  border-width: 2px;
}

.message::-webkit-input-placeholder {
  padding: 84px 0;
  text-align: center;
}

.message::-moz-input-placeholder {
  padding: 84px 0;
  text-align: center;
}

.message:-moz-input-placeholder {
  padding: 84px 0;
  text-align: center;
}

.message:-ms-input-placeholder {
  padding: 84px 0;
  text-align: center;
}

.w-100-h-50{
  width: 100%;
  height: 50%;
}
