<form data-request="onComment" style="margin-top:20px">
  <label>Comment</label>
  <input type="text" name="comment" placeholder="Comment">
  <input type="hidden" name="users_id" value="{{ user.id }}">
  <input type="hidden" name="posts_id" value="{{ record.posts_id }}">
  <button type="submit" name="button">Post</button>
</form>
